.profile {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
}

.profile img {
    border-radius: 50%;  
    width: 400px; /* Ajusta el tamaño de la imagen */
    margin-right: 20px;
}

.profile h2, .profile p {
    margin: 0;
}