.profile {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
}

.profile img {
    border-radius: 50%;  
    width: 400px; /* Ajusta el tamaño de la imagen */
    margin-right: 20px;
}

.profile h2, .profile p {
    margin: 0;
}

.texto-justificado{
    font-size: 40px;
}

p{
    font-size: 1.3em;
}
.wrapper {
    padding: 20px;

    margin-right: 40px;
}
.wrapper p{
    text-align: justify;
    font-size: 1em;
}