/*ESTILOS GLOBALES*/
:root {
    --blanco : #ffff;
    --oscuro : #212121;
    --primario : #FFC107;
    --secundario : #0097A7;
    --gris : #757575;
    --principal:#7F1E57;
    --secondary:#003366;
    --navegacion : #333;
}
 
/*globales*/ 
 
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    font-family: 'Helvetica', sans-serif;
}

.header2 {
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .header__texto
  {
      color:var(--blanco);
      text-align: center;
  
  }

  section{
    padding: 30px;
  }


h2,h3{
    text-align: center;
}


img {
    max-width: 100%;
    align-self: center;
}

.titulo{
    text-align: center;
}



.header__logo{
    margin: 3rem 0;
  
}




/*Menú*/ 
#menu{
	font-family: Helvetica, Arial,sans-serif;
    background: var(--secondary);
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#menu ul{
	line-height: 46px;
	list-style: none;
}

#menu ul li{
	height: 46px;
	display: inline-block;
}

#menu a{
	display: block;
	color:white;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
}




.contenedor {
    padding: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.navegacion{
   background-color:var(--oscuro);
   /* color: #212121; */
   color:var(--secondary);
   /* color : var(--navegacion); */
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 1rem;
}

.navegacion__enlace
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
 
.navegacion__enlace:hover
{
    color: var(--primario);
}

@media (min-width : 480px){
    .navegacion{
        flex-direction: row;
    }
}
    
@media (min-width : 480px){
        .navegacion__enlace{
            flex-direction: row;
        }
    }

@media (min-width: 480px)
{
    body{
        /* background-color: var(--principal); */
        background: linear-gradient(to right, #6dd5ed, #2193b0);

    }
}




/**cabecera **/
.preset1
{
    background-image: url(../src/assets/modelo3.jpg);
    background-size: cover;
    height: 450px;
    color:white;
    position: relative;
}

.presethija{
    position: absolute;
    background-color: rgba(0, 0, 0, .78);/**anterior**/
    width: 100%;
    height: 100%;
    
}

@media (min-width: 480px)
{
    .preset1{
        flex-direction: row;
    }
}



*, *:before, *:after {
    box-sizing: inherit;
  }
  .boton
{
    background-color:gray;
    color : white;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    text-align: center;
}


/**.header
,.navegacion ,.servicios{
    scroll-snap-align: center;
    scroll-snap-stop: always;
} **/


/** Servicios **/

.servicios{
    display: grid;
    /*height: 400px;*/
   /** grid-template-columns:1fr 1fr 1fr;**/
   grid-template-columns: repeat(3,1fr); 
   grid-template-rows: 200px 800px;
   column-gap: 5rem;

}



.contacto {
    text-align: center;
}

/**footer **/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);  
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css); 
footer{
     position: relative; 
    background:white;
    /* padding:   0; */
}
p{
    font-size: 15px;
}
.footer-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logo_foot{
    width: 220px;
    margin-top: 30px;
}

.follow-us p{
    font-size: 18px;
    font-weight: bold;
}

.social-media{
    margin: 20px 0px;
}

.social-media a{
    color: darkblue;
    margin-left: 47px;
    text-decoration: none;
    transition: .3s linear;
    font-size: 27px;

}
.social-media a:hover{
    color: var(--rojo_brillante);    
    cursor: pointer;
}

.right-col h1{
    font-size: 35px;
    font-weight: bolder;
    color: #092c5c;
    margin-bottom: 30px;
}

.border{
    width: 100px;
    height: 5px;
    background: var(--rojo_brillante);
    margin-bottom: 2px;
}

.newsletter-from{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}




  
  .row
  {
    margin-left: 10px;
    margin-right: 10px;
  }
  /* Create two equal columns that floats next to each other */
  /* .column {
    float: left;
    width: 50%;
    padding: 10px;
  } */
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: var(--secondary);
    color: white;
    display: none;
  }


#btnContainer{
    margin-left: 50px;
}


  #menu-bar {
    display: none;
}

 header label {
    float:right;
    font-size: 28px;
    margin:6px 0;
    cursor:pointer;
}

.header-titles{
    display: flex;
    margin-left: 40px;
}


.clearfix{
	float: none;
	clear: both;
}

#global{
	width: 65%;
	/* margin: 0px auto; */
	margin-top: 30px;
	padding: 25px;
	background: white;
	box-shadow: 0px 0px 2px gray;
}


.menu {
   position:absolute;
   width:100%;
   height: 100vh;
   background:rgba(51, 51, 51, 0.9);
   top:50px;
   left: 50px;
   transition: all 0.5s;
   transform:translateX(-100%);
}


.menu a {
    display: block;
    color: red;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255, 0.3);
}



header .contenedor {
    display: table;
}

.menu-bar:checked~ menu{
    transform:translateX(0%);
}
 
.nav-socialnetwork-link .fb , .nav-socialnetwork
{
    text-decoration: none;
}

/* Estilo del Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);   /*FONDO DE MODAL*/
    opacity: 0;
    transition: opacity 0.4s ease;
}

.modal-content {
    background-color: lightblue;
    font-size: 1.1em;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--secundario);
    width: 80%;
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}


.texto-justificado{
    text-align: justify;
    font-size: 1em;
 
}
/* Pantallas pequeñas (menos de 600px) */
@media (max-width: 599px) {
    .modal-content {
        width: 90%; /* Más ancho en pantallas pequeñas */
        padding: 15px; /* Menos padding */
        margin: 10% auto; /* Ajuste del margen */
    }
}

/* Pantallas medianas (600px a 900px) */
@media (min-width: 600px) and (max-width: 899px) {
    .modal-content {
        width: 70%; /* Ancho intermedio */
        padding: 20px; /* Padding estándar */
        margin: 15% auto; /* Margen estándar */
    }
}

/* Pantallas grandes (más de 900px) */
@media (min-width: 900px) {
    .modal-content {
        width: 50%; /* Menos ancho en pantallas grandes */
        padding: 25px; /* Más padding */
    }
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* Estilo del Catálogo */
.catalogo-proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.catalogo-proyectos .row{
    background-color: var(--blanco);
    
}

.catalogo-proyectos .row .proyecto {
    /* display: block; */
    margin: 5px;
    background-color: var(--secondary);
 
}


.catalogo-proyectos .proyecto p{
   font-size: 30px;
   color: var(--secundario);
}
.catalogo-proyectos .proyecto h3{
    color: var(--blanco);
}

.catalogo-proyectos .proyecto h4{
    color: var(--blanco);
}
.ver-detalle {
    cursor: pointer;
    color: var(--blanco);  
    text-decoration: underline;  
    transition: color 0.3s ease;
}

/* Clase para mostrar el modal */
.modal.show {
    display: block;
    opacity: 1;
}

.modal-content.show {
    transform: translateY(0);
    opacity: 1;
}